<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="622eb181-d715-4a4c-b0fa-9e7c8e0a878d" Publisher="CN=Jens" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SharePointAuthenticationSkeleton</DisplayName>
    <PublisherDisplayName>Jens</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SharePointAuthenticationSkeleton.App">
      <VisualElements DisplayName="SharePointAuthenticationSkeleton" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SharePointAuthenticationSkeleton" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="enterpriseAuthentication" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>